:root {
  --whites-clr: #fff;
  --links-clr: #191e3b;
  --links-hover-clr: #1668e3;
  --primary-font: 14px;
  --font-family: Centra No2, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav {
  background-color: var(--whites-clr);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20rem;
  margin: 1rem 0;
}
.links {
  display: inline-flex;
  gap: 13px;
  transition: all 0.3ms 0.1ms ease-in-out;
  & a {
    color: var(--links-clr);
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 500;
    text-transform: capitalize;
  }
  & .download-section {
    display: inline-flex;
    gap: 3px;
    border: 1px solid #dfe0e4;
    padding: 0.2rem 0.7rem;
    border-radius: 50px;
  }
}
.links a:hover {
  color: var(--links-hover-clr);
}
svg {
  width: 20px;
}

.hero-section {
  overflow: hidden;
  height: 100vh;
  background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2025/03/24/VRBO_APFT2_BARCELONA_THERIN_HOUSE_2_4605_1.png?impolicy=fcrop&amp;w=1920&amp;h=580&amp;q=medium");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  & .overlay {
    /* max-width: 98rem;
    margin: 0 auto;
    height: 100vh; */
    background-color: black;
    opacity: 1;
    position: fixed;
    top: 0;
  }
}
.destinations {
  columns: var(--whites-clr);
}
